@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.not-found-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #044c54;
}
.not-found-container-info {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: white;
  font-family: "Quicksand", sans-serif;
}
.codeError {
  font-size: 10rem;
  font-weight: 600;
}
.not-found-container-info h1 {
  margin-bottom: 20px;
}
.not-found-container-info p {
  margin-bottom: 20px;
}
.redirectBtn {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  color: #044c54;
}
span {
  color: #912e42;
}
